[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "coronavirus"]
	path = coronavirus
	url = https://github.com/ramikrispin/coronavirus
[submodule "covid19italy"]
	path = covid19italy
	url = https://github.com/ramikrispin/covid19italy
[submodule "covid19sf"]
	path = covid19sf
	url = https://github.com/ramikrispin/covid19sf
[submodule "EIAapi"]
	path = EIAapi
	url = https://github.com/ramikrispin/eiaapi
[submodule "TSstudio"]
	path = TSstudio
	url = https://github.com/ramikrispin/tsstudio
[submodule "UKgrid"]
	path = UKgrid
	url = https://github.com/ramikrispin/ukgrid
[submodule "USgas"]
	path = USgas
	url = https://github.com/ramikrispin/usgas
[submodule "USgrid"]
	path = USgrid
	url = https://github.com/ramikrispin/usgrid
